* {
  margin: 0 auto;
  padding: 0 auto;
}


.contain {

  height: 350px;

}

.logo{

  width: 600px;
  float: left;
  margin-left: 300px;
}

.adresse {
  border: 2px solid blue;
  width: 800px;

  float : left;
  margin-left: 600px;
  margin-top: -200px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px black;

}

h1 {

}

.button {

}
.rubrique {
  float: left;
  margin-left: 7%;
  margin-top: 30px;
  border: 2px solid red;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 25px;
  font-family: helvetica, sans-serif;
  width: 300px;
  display: inline-block;
  box-shadow: 3px 3px 3px black;

}
.clear {
  clear: left;
}

.menu {
  margin-top: 10px;
  background-color: grey;
  position: relative;

}

.menu .texte {
  border: 2px solid yellow;
  text-align: center;
  margin-right: 90px;
  margin-top: -113px;
  width: 1000px;
  line-height: normal;
}

.plats {
  border: 2px solid black;
}

.case {
  border: 2px solid blue;
  float: left;
  width: 400px;
  margin-left: 10%;
  height: 500px;
  margin-top : 10px;
  border-radius:  80px;
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
}
